.container {
    width: 960px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    border: 0.5px solid black;
}

.gridbox {
    width: 60px;
    height: 60px;
}

.grid-header {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}